body {
    padding-top: 70px; /*navbar-fixed-top.css*/
}

.container {
    min-width: 290px; /*320px width - 30px padding*/
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-inverse {
    /*background-color: #3961b6;*/
    background-color: #286090;
}

.navbar-inverse .navbar-brand {
    position: relative;
    color: white;
    padding-left: 73px; /*48px (image width) + 10px (right padding) + 15px (left margin)*/
    padding-right: 20px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: rgba(255,255,255,.85);
}

.navbar-brand > img {
    position: absolute;
    left: 15px;
    top: 1px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    /*background-color: #4f89d3;*/
    background-color: #337ab7;
}

.navbar-inverse .navbar-collapse .navbar-nav > .active > a,
.navbar-inverse .navbar-collapse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-collapse .navbar-nav > .active > a:hover {
    /*background-color: #3961b6;*/
    background-color: #286090;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(255,255,255,.85);
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: 0;
}

.nav-tabs.navigation {
    margin-left: 3px;
    margin-right: 3px;
}

.nav-tabs.navigation > li {
    margin-left: -3px;
}

.tab-content.panel-tabs {
    border-radius: 0;
    border: 0;
}

.panel-tabs .tab-pane.panel-body {
    border-radius: 4px;
    border: 1px solid transparent;
    border-top: 0;
}

.panel-tabs .tab-pane.panel-body {
    border-color: #ddd;
    min-height: 350px;
    position: relative;
}

.panel-tabs .tab-pane.panel-body.active:first-of-type {
    border-radius: 0 4px 4px 4px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.loading .text {
    font-weight: bold;
}

.lead.size-fixed {
    font-size: 21px !important;
    padding-top: 2px;
}

.loginfo {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.loginfo .overflow-box {
    height: 400px;
}

.loginfo p {
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.loginfo {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.loginfo .log-row {
    white-space: nowrap;
}

.loginfo .log-item {
    white-space: pre;
}

.loginfo .time {
    color: gray;
    margin-right: 30px;
}

.max-container {
    max-width: 800px;
}

.abs-container {
    position: relative;
}

.abs-equally,
.abs-trash {
    position: absolute;
    top: 0;
    right: -7px;
    font-size: 20px;
    color: #bbb;
    line-height: 30px;
}

.abs-trash {
    right: -15px;
}

.help-block.success {
    color: #3c763d;
}

.overflow-box {
    min-height: .01%;
    overflow-x: auto;
    overflow-y: hidden;
}

.table.tasks th.icon {
    min-width: 0;
}

.table.tasks td.action {
    padding: 5px 8px !important;
}

.table.tasks td.remove {
    text-align: right;
}

.table.tasks th:nth-child(2) {
    width: 30%;
    min-width: 150px;
}

.table.tasks th:nth-child(3) {
    width: 15%;
    white-space: nowrap;
}

.table.tasks th:nth-child(4) {
    width: 15%;
}

.table.tasks th:nth-child(5) {
    width: 40%;
    min-width: 150px;
}

.table.tasks [colspan] {
    border: 0;
    padding-top: 10px;
}

.table.tasks > .separator,
.table.tasks > .separator + thead > tr:first-child > th {
    border-top: 0;
}

.inactive {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.jstreewrapper {
    width: auto;
    height: 300px;
    overflow: auto;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.logtable {
    /* Carousel */
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*
.schedule-checkbox-list .checkbox:first-of-type {
    padding-top: 0;
}
*/