@model string

@functions {
    public string Class(string sect)
    {
        if(Model == sect)
        {
            return "class='active'";
        }
        return "";
    }
}

<ul class="nav nav-tabs navigation">
    <li @Html.Raw(Class("Jobs"))> <a asp-area="" asp-controller="Jobs" asp-action="Index">Tasks</a></li>
    <li @Html.Raw(Class("Log"))><a asp-area="" asp-controller="Server" asp-action="Log">Log</a></li>
    <li @Html.Raw(Class("Settings"))><a asp-area="" asp-controller="Settings" asp-action="Edit">Settings</a></li>
</ul>


