/*navbar-fixed-top.css*/
/*
body {
    padding-top: 70px;
}
*/
.navbar {
    border: 0;
    border-radius: 0;
    
}
.navbar-inverse {
    /*background-color: #3961b6;*/
    background-color: #286090;
}

.navbar-inverse .navbar-brand {
    position: relative;
    color: white;
    padding-left: 73px; /*48px (image width) + 10px (right padding) + 15px (left margin)*/
    padding-right: 20px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: rgba(255,255,255,.85);
}

.navbar-brand > img {
    position: absolute;
    left: 15px;
    top: 1px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    /*background-color: #4f89d3;*/
    background-color: #337ab7;
}

.navbar-inverse .navbar-collapse .navbar-nav > .active > a,
.navbar-inverse .navbar-collapse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-collapse .navbar-nav > .active > a:hover {
    /*background-color: #3961b6;*/
    background-color: #286090;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(255,255,255,.85);
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: 0;
}

.nav-tabs {
    margin-left: 3px;
    margin-right: 3px;
}

.nav-tabs > li {
    margin-left: -3px;
}

.tab-content.panel {
    border-radius: 0;
    border: 0;
}

.tab-pane.panel-body {
    border-radius: 4px;
    border: 1px solid transparent;
    border-top: 0;
}

.panel-default .tab-pane.panel-body {
    border-color: #ddd;
}

.tab-pane.panel-body.active:first-of-type {
    border-radius: 0 4px 4px 4px;
}

.loginfo {
    overflow: auto;
    height: 400px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 0;
}

.loginfo p {
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.loginfo p {
    /*outline: 1px solid #ccc; padding: 5px; margin: 5px; */
    /* white-space: pre;*/
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.loginfo p.time {
    white-space: pre;
    color:gray;
}

.loginfo p.info {
    white-space: pre-wrap;
}