@using Morph.Server.WebSite.ViewModels
@using Morph.Server.BusinessLogic.Types;
@using System.Globalization;
@model Morph.Server.WebSite.ViewModels.Server.ServerLogViewModel

@Html.Partial("_MainTabs", "Log")

<div class="tab-content panel panel-default panel-tabs">
    <div class="tab-pane panel-body active">

        <div class="loading" id="serverlog-loading">
            <div class="text">Loading....</div>
            <div class="image"><img src="~/images/ProgressBar.gif" /></div>
        </div>

        <div id="serverlog" style="display: none;">

            <div class="pull-right">
                <a href="javascript:;" class="btn btn-default" v-on:click="clearLog">Clear log</a>
            </div>

            <div class="lead size-fixed">Server log</div>

            <div id="logdiv" class="loginfo panel panel-default">
                <div class="panel-body">

                    <div class="overflow-box">
                        <div class="log-row" v-for="item in LogFileContent">
                            <span class="log-item time">{{item.substring(0,22)}}</span>
                            <span class="log-item info">{{item.substring(22)}}</span>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /#serverlog -->
    </div><!-- /.tab-pane -->
</div><!-- /.tab-content -->

@section scripts{
    <script>

        require(['serverlog'], function (jl) {

            Morph.WebClient.initServerLog(
                {
                    selector: "#serverlog",
                    logContainer: "#logdiv"
                });
        })

    </script>
}