@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div id="con">
</div>

@section scripts{
<script>


    function log(message) {
        $("#con").append(message+"<br/>");

    }
    var notifications = $.connection.notificationsHub;

    notifications.client.renderTestMessage = function (data) {
        log(data.message);
    };

    $.connection.hub.logging = true;
    $.connection.hub.start();
   
    $.connection.hub.error(function (error) {
        console.log('SignalR error: ' + error)
    });
    
</script>
}