
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 640px;
}

.page-content {
    padding: inherit;
}


.loginfo {
    overflow: auto;
    height: 400px;
    background-color: black;
    color: white;
    -moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;
}

    .loginfo p {
        line-height: 1.4;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .loginfo p {
        /*outline: 1px solid #ccc; padding: 5px; margin: 5px; */
      /* white-space: pre;*/
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }
    .loginfo p.time {
        white-space: pre;
        color:gray;
    }
    .loginfo p.info {
        white-space: pre-wrap;
    }


.borderless > td, .borderless > th {
    border: none !important;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.logtable {
    /* Carousel */
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*///////////////////////////////////////*/


.jstreewrapper {
    width: auto;
    height: 300px;
    overflow: auto;
}

.top-buffer {
    margin-top: 20px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.tab-content {
    /*color : white;*/
    /*background-color: #428bca;*/
    border: 1px solid gray;
    border-top: none;
    padding: 5px 15px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }












.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

html, body, .container-table {
    height: 100%;
}

.container-table {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

.activerun {
    background: url('/images/runactive.png');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

.inactive {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
